/*General Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* styling body and html*/
html.body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #111;
}
h1{
    font-size: 30px;
    font-weight: 500px;
}
p{
    margin: 20px 0 10px;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
section{
    display: flex;
    height: 100vh;
    align-items: center;
    padding: 100px;
}
.navigation{
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation.active{
    left: 0;
}
.navigation ul{
    position: relative;
}
.navigation ul li{
    position: relative;
    list-style: none;
    text-align: center;
}
.navigation ul li a{
    font-size: 32px;
    text-decoration: none;
    color: #111;
    font-weight: 300;
}
.navigation ul li a:hover{
    color: #f60f20;
}
.navigation .socials{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navigation .socials a{
    display: inline-block;
    transform: scale(0.5);
}
.navigation .email-icon{
    position: absolute;
    bottom: 20px;
    transform: scale(0.5);
}
.home-content{
    position: relative;
    z-index: 10;
    max-width: 600px;
}
.home-img{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 110%;
}
.logo{
    position: absolute;
    top: 30px;
    left: 100px;
    font-size: 32px;
    font-weight: 700;
    z-index: 20;
}

.btn{
    background: #f60f20;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    display: inline-block;
    margin: 20px 0;
    cursor: pointer;
    border: 0;
}
.btn:hover{
    transform: scale(0.90);
}
.toggle{
    position:fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background: #f60f20 url(/Images/menu.png);
    z-index: 20;
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.toggle.active{
    background: #f60f20 url(/Images/close.png);
    width: 50px;
    height: 50px;
    z-index: 20;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
@media(max-width: 1068px){
    .home-img{
        display: none;
    }
    .logo{
        top: 10px;
        left: 40px;
        font-size: 26px;
    }
    section{
        padding: 100px 40px;
    }
    .navigation ul li a{
        font-size: 24px;
    }
}